*/*/target/*
android/tutorialforjnm219/gradle/wrapper/gradle-wrapper.jar
android/tutorialforjnm219/gradle/wrapper/gradle-wrapper.properties
android/tutorialforjnm219/gradlew
android/tutorialforjnm219/gradlew.bat

