<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jnm219.cse216.lehigh.edu.tutorialforjnm219">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationWithGlobals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateBuzzActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="loginMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <intend-filter>
                <action android:name="android.intent.action.Main" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intend-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="registerMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <intend-filter>
                <action android:name="android.intent.action.Main" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intend-filter>
        </activity>
        <activity
            android:name=".comments"
            android:label="commentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intend-filter>
                <action android:name="android.intent.action.Main" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intend-filter>
        </activity>
    </application>

</manifest>